/* tab2.page.scss */
ion-list {
  margin-top: 20px;
}

ion-item {
  --ion-item-text-color: var(--ion-color-primary);
  font-weight: bold;
}

ion-item ion-icon {
  font-size: 24px; /* Adjust icon size */
  margin-right: 10px; /* Add some spacing between icon and text */
}

ion-card {
  max-width: 100%; /* Set max-width to 100% */
}

ion-spinner {
  margin-top: 20px;
}
